<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="LuceneDemo.Service.SearchService" behaviorConfiguration="SearchServiceBehavior">
        <endpoint name="SearchService" contract="LuceneDemo.Service.ISearchService" binding="wsHttpBinding" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SearchServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="LuceneDemo.Service.SearchService" relativeAddress="SearchService.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>