<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSqlCe40Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlServerCeDriver</property>
      <property name="connection.connection_string">Data Source=D:\GIT\2bit-coder-blog-code\lucene-demo\data.sdf</property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
  
  <system.serviceModel>
    <services>
      <service name="LuceneDemo.Service.SearchService" behaviorConfiguration="SearchServiceBehavior">
        <endpoint name="SearchService" contract="LuceneDemo.Service.Contracts.ISearchService" binding="wsHttpBinding" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SearchServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="LuceneDemo.Service.SearchService" relativeAddress="SearchService.svc"
             factory="Castle.Facilities.WcfIntegration.DefaultServiceHostFactory, Castle.Facilities.WcfIntegration"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>